/*
@author ayebrian
@description VMware ESXi 6.7/7.0 Custom Theme with Modern UI(basically)
*/
body,
html {
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: white;
}
:root {
  --rounded-2: 8px;
  --rounded-1: 4px;
  --bg-1-mid-gray: #161616;
}
.object-navigator.menu-panel {
  padding: 10px;
}
.object-navigator .object {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 3px;
}
.object-navigator .object-navigator-list .object-navigator-header-selected {
  background-color: #236cbb;
}
.object-navigator .object-navigator-list .object-navigator-header:hover {
  background-color: #164170;
}
.search .search-field,
.vui-datagrid-filter .search-field {
  border: none;
  background-color: #181818;
  border-radius: 7px;
}
.object-navigator-counter {
  right: 15px;
}
.stack-view-label {
  margin-left: 35px;
}
.vui-stack-view
  .stack-view-table
  .stack-view-parent-i
  .stack-view-cell
  [class*="icon"] {
  position: absolute;
  left: 16px;
  top: auto;
  margin: 2px 0px;
}
form,
div,
em,
li,
a,
span,
text,
.vui-action-bar .vui-action-label {
  color: #bfbfbf;
  fill: #bfbfbf;
}
.dropdown-menu,
.multi-level,
.fade {
  color: black;
}
.portlet-content {
  background: rgb(36, 36, 36);
}
.vui-stack-view
  .stack-view-table
  .stack-view-child
  .stack-view-cell:first-child,
.vui-stack-view
  .stack-view-table
  .stack-view-child-i
  .stack-view-cell:first-child,
.vui-stack-view
  .stack-view-table
  .stack-view-parent
  .stack-view-cell:first-child,
.vui-stack-view
  .stack-view-table
  .stack-view-parent-i
  .stack-view-cell:first-child,
.vui-stack-view .stack-view-table .stack-view-row .stack-view-cell:first-child,
.vui-stack-view
  .stack-view-table
  .stack-view-row-i
  .stack-view-cell:first-child {
  background-color: #3a3a3a;
}
.stack-view-cell {
  background-color: #2c2c2c;
  border: 0 !important;
  padding: 10px !important;
}
.vui-portlet {
  border: none;
  border-radius: 8px;
}
.portlet-titlebar .icon {
  margin: 12px -0px 0 -4px;
}
.vui-portlet .portlet-titlebar {
  background-color: #242424;
  line-height: 39px;
  height: 40px;
  border: none;
}
.dropdown-menu {
  background-color: #282828;
  border: none;
}
.dropdown-menu li.divider {
  background: none;
  display: none;
}
li.dropdown-menu-title {
  background-color: #1a1a1a;
  border: none;
  line-height: 2;
  font-size: 18px;
}
.primary-nav .dropdown-menu > li > a {
  line-height: 2;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #303030;
}
.esx-main-content .header-area .metrics .progress {
  background-image: none;
  background-color: #2a2a2a;
  border: none;
}
.nav.nav-tabs > li > a {
  color: white;
}
.nav.nav-tabs > li.active > a,
.vmw-tabs > li.active > a,
.vui-layout-body .app-header .nav-tabs.primary-nav > li.active > a,
.vui-layout-body .app-header .nav-tabs.product-icon-nav > li.active > a,
.vui-layout-body .app-header .primary-nav.vmw-tabs > li.active > a,
.vui-layout-body .app-header .product-icon-nav.vmw-tabs > li.active > a {
  border: none;
}

.nav.nav-tabs *,
.nav.nav-tabs > li.active > a:hover {
  border: 0;
}
.nav.nav-tabs > li > a:hover {
  border: 0;
  border-color: transparent;
}
.nav.nav-tabs {
  background-color: #2c2c2c;
}
.nav.nav-tabs > li.active a {
  color: black !important;
}
.vui-panel.collapsed .titlebar:hover {
  background-color: #2c2c2c;
}
.vui-panel.collapsed .titlebar {
  background-color: #1a1a1a;
  color: white;
}
.vui-layout-body .app-panel-main {
  left: 50px;
}
.object-navigator-counter {
  background: none;
}
.panel-inner .titlebar {
  background-image: none !important;
  border-bottom: none;
  background-color: rgb(31, 32, 33);
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 0px;
}
.vui-panel .panel-inner,
.vui-panel .vui-popup {
  border: none;
  background: none;
}
.titlebar {
  height: 40px !important;
  line-height: 37px;
}
.vui-panel .panel-inner {
  background-color: #0f0f0f;
  border: 0 !important;
}
.esx-main-content {
  border: 0 !important;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  background-color: var(--bg-1-mid-gray);
}
.panel-content {
  top: 40px !important;
}
.vui-layout-body .app-frame-outer {
  padding: 0px;
  background: #0f0f0f;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0px;
}
.vui-layout-body {
  background: #121212 !important;
  background-color: black;
}
.vui-panel .panel-inner .panel-content,
.vui-panel .vui-popup .panel-content {
  background-color: var(--bg-1-mid-gray);
  border-radius: 0 0 5px 5px;
}
.app-frame-hide-overflow {
  top: 45px;
}
.vui-layout-body .app-header {
  height: 45px !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vui-layout-body .app-header .primary-nav {
  margin-top: 0;
}
.vui-layout-body .app-header .vmware-logo {
  margin-top: 8px;
}
